<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
</head>
<body>
   <table class="table table-striped">
        <tr>
            <th>
                id
            </th>
            <th>
                所属分类
            </th>
            <th>
                标题
            </th>
            <th>
                操作
            </th>
        </tr>
       {foreach $result as $v}
        <tr>
            <td>
                {$v["lid"]}
            </td>
            <td>
                {$v["cname"]}
            </td>
            <td>
                {$v["title"]}
            </td>
            <td>
                <a href="index.php?m=admin&f=lists&a=del&sid={$v['lid']}">删除</a>

                <a href="index.php?m=admin&f=lists&a=edit&sid={$v['lid']}">编辑</a>

                
            </td>
        </tr>
       {/foreach}
   </table>

</body>
</html>