<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
    <script src="{JS_PATH}/jquery.js"></script>
</head>
<body>
<table class="table table-striped">
    <tr>
        <th>
            编号
        </th>
        <th>
            角色
        </th>
        <th>
            操作
        </th>
    </tr>
    {foreach $result as $v}
    <tr num="{$v['rid']}">
        <td>
            {$v["rid"]}
        </td>
        <td attr="rname">
            {$v["rname"]}
        </td>
        <td class="removed">
            <a href="index.php?m=admin&f=role&a=del&sid={$v['rid']}">删除</a>
        </td>
    </tr>
    {/foreach}
</table>

</body>
<script>
    $("body").delegate("td:not('.removed')","dblclick",function(){
        var that=$(this);
        var oldval=$(this).html();
        $(this).html("");
        var input=$("<input>").appendTo($(this)).focus().val(oldval);
        input.blur(function(){
            var that1=$(this);
            var newval=$(this).val();
            if(newval===oldval){
                $(this).remove();
                that.html(newval);
            }else{
                var id=that.parents("tr").attr("num");
                var attr=that.attr("attr");
                $.ajax({
                    url:"index.php?m=admin&f=role&a=edit",
                    type:"post",
                    data:{
                        id:id,attr:attr,val:newval
                    },
                    success:function(data){
                        if(data==="ok"){
                            that1.remove();
                            that.html(newval);
                        }
                    }
                })
            }

        })
    })
</script>
</html>