<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="{CSS_PATH}/base.css">
    <link rel="stylesheet" href="{CSS_PATH}/gwc.css">
    <script src="{JS_PATH}/rem.js"></script>
</head>
<body>
<div class="header">
    <p class="fanhuijiantou"> < </p>
    <div class="center">
        <p class="c-top">购物车</p>
        <p class="c-bottom">GOUWUCHE</p>

    </div>

</div>
<div class="main">
    <div class="shangpin">
        <div class="tu">
            <img src="{IMG_PATH}/gw1.png" alt="">
        </div>
        <div class="xinxi">
            <div class="top">XIAOMISHUMA
              687.00RM
            </div>
            <div class="bottom">
                <div class="bo1">ESQUISI</div>
                <div class="bo2">HOT</div>
            </div>
        </div>
        <div class="pinjia">
           <div class="wujiao">★★★★</div>
            <div class="bo2">-</div>
            <div class="bo3">1</div>
            <div class="bo3">+</div>

        </div>
        <div class="jiage">687.00</div>
    </div>
    <div class="shangpin">
        <div class="tu">
            <img src="img/gw1.png" alt="">
        </div>
        <div class="xinxi">
            <div class="top">XIAOMISHUMA
                687.00RM
            </div>
            <div class="bottom">
                <div class="bo1">ESQUISI</div>
                <div class="bo2">HOT</div>
            </div>
        </div>
        <div class="pinjia">
            <div class="wujiao">★★★★</div>
            <div class="bo2">-</div>
            <div class="bo3">1</div>
            <div class="bo3">+</div>

        </div>
        <div class="jiage">687.00</div>
    </div>
    <div class="shangpin">
        <div class="tu">
            <img src="img/gw1.png" alt="">
        </div>
        <div class="xinxi">
            <div class="top">XIAOMISHUMA
                687.00RM
            </div>
            <div class="bottom">
                <div class="bo1">ESQUISI</div>
                <div class="bo2">HOT</div>
            </div>
        </div>
        <div class="pinjia">
            <div class="wujiao">★★★★</div>
            <div class="bo2">-</div>
            <div class="bo3">1</div>
            <div class="bo3">+</div>

        </div>
        <div class="jiage"><p>687.00</p></div>
    </div>
    <div class="hezi">
        <div class="hl">
            <p>1078.00RMB</p>
            <p>本次消费折扣</p>
        </div>
        <div class="hr">
            62.00
        </div>
    </div>
    <div class="tijiao">
        <p>确认并提交</p>
        <p>QUERENBINGTIJIAO</p>
    </div>
</div>
</body>
</html>