<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>登录</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,
    	maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}/base.css">
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}/style.css">
	<script src="{JS_PATH}/yidong.js"></script>
</head>
<body>
     <div class="beijing">
		 <div class="touxiang">
			 <div class="lv">
				 <div class="qing">
					 <div class="tout">
						 <img src="{IMG_PATH}/4.jpg" style="width: 100%;height: 100%">
					 </div>
				 </div>
			 </div>
		 </div>
		 <div class="zim"><img src="{IMG_PATH}/1.png"></div>
		 <div class="wan">玩转<span>·</span>你的私人电器</div>
		 <div class="xx">
			 <div class="xian">
				 <div class="lvx"></div>
			 </div>
			 <div class="qiu">
				 <div class="baiqiu"></div>
			 </div>
			 <div class="xian x1">
				 <div class="lvx l1"></div>
			 </div>
		 </div>
		 <div class="wel">
			 <span>WELCOME TO HERE</span></div>
		 <p>sometimes people have to cope with</p>
		 <p style="margin-top: 0.05rem">many mistakes</p>
		 <div class="anniu">
			 <img src="{IMG_PATH}/5.png" alt="">
			 <a href="index.php?m=index&f=login&a=second"><h3>登 录</h3></a>
			 <h4>DENGLUHERE</h4>
		 </div>
		 <div class="anniu1">
			 <img src="{IMG_PATH}/5.png" alt="">
			 <a href="index.php?m=index&f=login&a=regs"><h3>注 册</h3></a>
			 <h4>DENGLUHERE</h4>
		 </div>
	 </div>
</body>
<script>

</script>
</html>